/* $Id$ */

/***************************************************
   HTML Element Styles
 ***************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: left;
  color: #333333;
  font-size: 87%;
  background: #FFFFFF;
}

/***************************************************
  Layout Element Styles
 ***************************************************/
#page {
  width: 780px;
}

.hide {
  display: none;
}

.clear {
  clear: both;
  width: 780px;
  height: 1px;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

/***************************************************
  Header Styles
 ***************************************************/
#header { 
  float: left;
  margin: 0 auto;
  background: #FFFFFF;
  position: relative;
  width: 780px;
  border-bottom: 1px solid #660000;  
}

#header h1 {
  margin: 30px 0 10px 20px;
  color: #660000;
  text-shadow: none;
}

/***************************************************
  Content Styles
 ***************************************************/
#content {
  float: left;
  width: 740px;
  margin: 20px 0 20px 20px;
  padding: 0;
  line-height: 1.5em;
  text-align: left;
}

#content ol {
  margin: 0 0 20px 40px;
  padding: 0;
}

#content ol li,
#content ol li a {
  margin: 0 0 8px 0;
  padding: 0 0 0 0;
  list-style: decimal;
  letter-spacing: 1px;
}

/***************************************************
  Special text formatting 
 ***************************************************/
#content h1 {
  clear: both;
  font-size: 1.8em;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 10px 10px;
}

#content h2 {
  display: inline;
  float: left;
  font-size: 1.6em;
  color: #333333;
  font-weight: bold;
  margin: 0 0 10px 10px;
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
}

#content h3 {
  clear: both;
  font-size: 1.4em;
  color: #333333;
  font-weight: bold;
  margin: 10px 0 0 0;
  padding: 0 0 10px 10px;
}

#content h4.date-header {
  clear: both;
  margin: 0 0 10px 0;
  padding: 0 0 0 5px;
  font-size: 1.2em;
  color: #660000;
  letter-spacing: 1px;
  background: none;
}

#content p {
  font-size: 0.9em;
  margin: 0 0 10px 20px;
}

#content p.error,
#content p.notice, 
#content p.message {
  padding: .5em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}

#content p.error {
  background: #FBE3E4;
  color: #D12F19;
  border-color: #FBC2C4;
}

#content p.notice {
  background: #FFF6BF;
  color: #817134;
  border-color: #FFD324;
}

#content p.message {
  background: #E6EFC2;
  color: #529214;
  border-color: #C6D880;
}

#content p.error a {
  color: #D12F19;
}

#content p.notice a {
  color: #817134;
}

#content p.message a {
  color: #529214;
}

#content u {
  text-decoration: underline;
}

#content a, a:link { 
  color: #6699cc;
  border-bottom: 1px dotted #6699cc;
  text-decoration: none;
}

#content a:hover {
  color: #669933;
  border-bottom: 1px dotted #669933;
}

#content a:active {
  color: #cc3333;
  border-bottom: 1px dotted #cc3333;
}

#content a:visited {
  color: #666699;
  border-bottom: 1px dotted #666699;
}

#content a img, img {
  border: 0;
}

/***************************************************
 Footer
 ***************************************************/
#footer {
  float: left;
  width: 780px;
  margin: 0;
  background: none;
  border-top: 1px solid #660000;  
}

#footer p {
  margin: 0 0 9px 0;
  padding: 15px 0;
  font-size: 0.8em;
  color: #333333;
  text-align: center;
}

#footer a,
#footer a:hover {
  border-bottom: none;
  color: #333333;
  border-bottom: 1px dotted #333333;
}

