<h4 class="date-header">New</h4>
<form name="New" id="New">
  <input type="hidden" name="{__flowExecutionTicketKey}" value="{__flowExecutionTicket}" id="flowExecutionTicket" />
  <fieldset>
    <legend>Entry</legend>
    <p class="error" flexy:if="__Entry_NewResults.isError(#title#)">{__Entry_NewResults.getErrorMessage(#title#)}</p>
    <p>
      <label for="title">Title: </label><br />
      <input type="text" name="title" id="title" class="text" />
    </p>
    <p class="error" flexy:if="__Entry_NewResults.isError(#content#)">{__Entry_NewResults.getErrorMessage(#content#)}</p>
    <p>
      <label for="content">Content: </label><br />
      <textarea name="content" id="content"></textarea>
    </p>
  </fieldset>
  <p>
    <input type="submit" name="{__eventNameKey}_ProcessValidateNewFromDisplayNew" value="Create" />
  </p>
</form>
