<h4 class="date-header">Show</h4>
<fieldset>
  <legend>Entry</legend>
  <p>
    <label for="title">Title: </label><br />
    <span class="text">{entry.title}</span>
  </p>
  <p>
    <label for="content">Content: </label><br />
    <span class="text">{GLOBALS.displayTextArea(entry.content):h}</span>
  </p>
  <p>
    <label for="rdate">Rdate: </label><br />
    <span class="text">{entry.rdate}</span>
  </p>
  <p>
    <label for="rdate">Mdate: </label><br />
    <span class="text">{entry.mdate}</span>
  </p>
</fieldset>
<form name="Show" id="Show">
  <input type="hidden" name="{__flowExecutionTicketKey}" value="{__flowExecutionTicket}" />
  <p>
    <input type="submit" name="{__eventNameKey}_DisplayEditFromDisplayShow" value="Edit" />
    <input type="submit" name="{__eventNameKey}_DisplayDeleteConfirmViaDisplayShowFromDisplayShow" value="Delete" />
  </p>
</form>
